/mooc-java-programming-ii/part09-Part09_01.ABC/target/
/mooc-java-programming-ii/part09-Part09_02.PersonAndSubclasses/target/
/mavenproject1/target/
/mooc-java-programming-ii/part09-Part09_03.Warehousing/target/
/mooc-java-programming-ii/part09-Part09_04.DifferentKindsOfBoxes/target/
/mooc-java-programming-ii/part13-Part13_13.TicTacToe/target/
/mooc-java-programming-ii/part14-Part14_03.SavingsCalculator/target/
/mooc-java-programming-ii/part14-Part14_04.UnfairAdvertisement/target/
/mooc-java-programming-ii/part14-Part14_05.CyclingStatistics/target/
/mooc-java-programming-ii/part14-Part14_06.Smiley/target/
/mooc-java-programming-ii/part14-Part14_07.Collage/target/
/mooc-java-programming-ii/part14-Part14_09.Asteroids/target/
/mooc-java-programming-ii/part14-Part14_10.Database/target/